<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GitHub Resume</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>GitHub Resume for <span th:text="${user.login}"></span></h1>
    <h2>Personal Information</h2>
    <p><strong>Name:</strong> <span th:text="${user.name}"></span></p>
    <p><strong>Bio:</strong> <span th:text="${user.bio}"></span></p>
    <p><strong>Location:</strong> <span th:text="${user.location}"></span></p>
    <p><strong>Phone Number:</strong> <span th:text="${phone}"></span></p>

    <h2>Experience (Selected Repositories)</h2>
    <ul>
        <li th:each="repo : ${repos}" th:if="${#lists.contains(selectedRepos, repo.name)}">
            <a th:href="@{${repo.htmlUrl}}" th:text="${repo.name}"></a> - <span th:text="${repo.description}"></span>
        </li>
    </ul>

    <a href="/" >Back to Form</a>
    <form action="/download-pdf" method="post">
        <input type="hidden" name="username" th:value="${user.login}" />
        <input type="hidden" name="selectedRepos" th:each="repo : ${selectedRepos}" th:value="${repo}" />
        <input type="hidden" name="phone" th:value="${phone}" />
        <input type="hidden" name="location" th:value="${location}" />
        <button type="submit">Download Resume as PDF</button>
    </form>
</div>
</body>
</html>
