<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Repositories</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Select Repositories and Enter Details</h1>
    <form action="/resume" method="post">
        <input type="hidden" name="username" th:value="${username}" />
        <div>
            <h2>Repositories</h2>
            <ul>
                <li th:each="repo : ${repos}">
                    <input type="checkbox" id="repo_[[${repo.name}]]" name="selectedRepos" th:value="${repo.name}" />
                    <label th:for="'repo_' + ${repo.name}" th:text="${repo.name}"></label>
                </li>
            </ul>
        </div>
        <div>
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" required>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location">
            <button type="submit">Generate Resume</button>
        </div>
    </form>
</div>
</body>

<script src="/js/scripts.js"></script>
</html>
